{%extends "base.html"%}

{%block title%} 
Home
{%endblock%}

{%block header%} 
Home
{%endblock%}

{%block paragraph%} 
This the website
<form action = "/ej1">
    <p>
        <button>
            Ejercicio 1
        </button>
    </p>
</form>

<form action = "/ej2">
    <p>
        <button>
          Ejercicio 2
        </button>
    </p>
</form>

<form action = "/ej3">
    <p>
        <button>
          Ejercicio 3  
        </button>
    </p>
</form>

{%endblock%}




